*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}
.f {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://img.freepik.com/premium-photo/background-cooking-black-wooden-background-top-view-free-space-your-text_187166-5650.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    color: #fff;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.get-started-btn {
    background-color: #08938c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.get-started-btn:hover {
    background-color: #77eed6;
}
.frame{
    background-image: url("https://img.freepik.com/premium-photo/background-cooking-black-wooden-background-top-view-free-space-your-text_187166-5650.jpg");
    /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}
.frame .b button{
    justify-content: center;

    height: 100%;
    width: 100%;
    background: #0078ff;
    background: linear-gradient(45deg,#27ebd7,#a1e565);
    border: none;
    cursor: pointer;
    
}